h1{
    text-align: center;
    border: 2px solid maroon;
    padding: 1em;
    top: 10px;
    background-color: white;
}
.logo {
    border: 2px solid maroon;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    width: 60%;
    z-index: 99;
}
.italian {
    color:red;

}
.recipe {
    box-sizing: border-box;
}
.image,
.recipe .subtitle{
    width: 250px;
}
.image {
    height: 400px;
    margin-bottom: -4px;
}
.recipe .subtitle {
    position:relative;
    text-align: center;
    font-family: cursive;
    color:yellowgreen;
    /* border: 1px solid blueviolet; */
}
li{
    list-style: none;
    margin-left: auto;
    margin-right:auto;
    border: 2px blueviolet solid;
}
#fill{
    flex: 1 1 auto;
}
#blackout{
    /* background-color: black; */
}
#whiteout{
    /* background-color: beige; */
}
/* box-sizing: border-box; allows for the program to account for height and width as an all-encompassing height and width, as opposed to an addition to the padding and border sizing */